.account {
    padding: 6rem 1.5rem;
    text-align: center;

    h3 {
        font-size: 3rem;
        margin-bottom: 3rem;
    }

    .contact {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin: 4rem auto 0;

        button {
            font-weight: 500;
            gap: 0;

            span {
                position: relative;
                font-weight: 600;
            }
        }

        &__groom {
            span {
                color: #96951b;
            }
        }
        &__bride {
            span {
                color: #d3a438;
            }
        }
    }
}
