.calendar {
  padding: 4rem 1.5rem 5rem;
  background-color: var(--background2);
  text-align: center;

  h3 {
    margin-bottom: 3rem;
  }

  .DDay {
    margin-top: 3rem;
    font-size: 1.4rem;
    font-family: "Hanken Grotesk", "Pretendard", sans-serif;

    span {
      display: inline-block;
      margin: 0 0.4rem;
    }
  }
}
