.footer {
    text-align: center;
    font-size: 1.4rem;
    padding: 2rem 0;

    .shareBtn {
        color: var(--background);
        width: calc(100% - 3rem);
        padding: 1rem;
        background-color: var(--highlight);
        color: var(--foreground);
        font-weight: 500;
        margin-bottom: 1.5rem;
    }

    .popup_content {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 33rem;
        margin: 0 auto;
        padding: 3rem 0 4rem;

        button {
            flex: 1 1 auto;
            width: 8rem;
            height: 12rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-family: "Pretendard";
            font-weight: 500;
            line-height: 1.3;
            font-size: 1.6rem;
            overflow: hidden;
            gap: 1rem;

            &.share_kakao {
                position: relative;
                border-right: 1px solid #b1ac88;

                &::before {
                    content: "";
                    width: 4rem;
                    height: 4rem;
                    background: url("/kakaotalk_sharing_btn_medium.png") center
                        center / contain no-repeat;
                }
            }

            &.share_url {
                svg {
                    width: 4rem;
                }
            }
        }
    }

    .copyright {
        font-family: "Hanken Grotesk";
        padding: 0 1.5rem;
    }
}
