.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    border: none;
    font-weight: 400;
    color: var(--foreground);
    background-color: var(--highlight);
    cursor: pointer;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.xs {
    padding: 0.5rem 1rem;
    min-width: 7rem;
    height: 2.5rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.small {
    padding: 1rem 1.5rem;
    min-width: 10rem;
    height: 3rem;
    font-size: 1.4rem;
}

.normal {
    padding: 1.2rem 2rem;
    min-width: 12rem;
    height: 3.6rem;
    font-size: 1.4rem;
}
