.gallery {
    text-align: center;
    padding: 6rem 1.5rem;

    .inner {
        margin-top: 4rem;
        display: flex;

        .img {
            position: relative;
            width: 90%;
            aspect-ratio: 0.95238;

            img {
                object-fit: cover;
            }
        }
    }
}
