@font-face {
    font-family: "RomanABT";
    src: url("/fonts/romanabt_roman.woff2") format("woff2"),
        url("/fonts/romanabt_roman.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    font-weight: 600;
    font-display: swap;
    src: local("Pretendard SemiBold"),
        url("/fonts/pretendard/woff2/Pretendard-SemiBold.woff2") format("woff2"),
        url("/fonts/pretendard/woff/Pretendard-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-weight: 500;
    font-display: swap;
    src: local("Pretendard Medium"),
        url("/fonts/pretendard/woff2/Pretendard-Medium.woff2") format("woff2"),
        url("/fonts/pretendard/woff/Pretendard-Medium.woff") format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-weight: 400;
    font-display: swap;
    src: local("Pretendard Regular"),
        url("/fonts/pretendard/woff2/Pretendard-Regular.woff2") format("woff2"),
        url("/fonts/pretendard/woff/Pretendard-Regular.woff") format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-weight: 300;
    font-display: swap;
    src: local("Pretendard Light"),
        url("/fonts/pretendard/woff2/Pretendard-Light.woff2") format("woff2"),
        url("/fonts/pretendard/woff/Pretendard-Light.woff") format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-weight: 200;
    font-display: swap;
    src: local("Pretendard ExtraLight"),
        url("/fonts/pretendard/woff2/Pretendard-ExtraLight.woff2")
            format("woff2"),
        url("/fonts/pretendard/woff/Pretendard-ExtraLight.woff") format("woff");
}

@font-face {
    font-family: "Hanken Grotesk";
    src: url("/fonts/HankenGrotesk-SemiBold.woff") format("opentype");
    font-weight: 600;
}

@font-face {
    font-family: "Hanken Grotesk";
    src: url("/fonts/HankenGrotesk-Medium.woff") format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: "Hanken Grotesk";
    src: url("/fonts/HankenGrotesk-Regular.woff") format("opentype");
    font-weight: 400;
}
