@use "@/styles/mixins" as *;
$header-padding: 0 2rem;

.header {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    max-width: 768px;
    height: var(--header_height);
    background-color: var(--background);
    will-change: transform;
    transition: all 0.4s ease, visibility 0.4s ease;
    z-index: 100;

    &.header__top {
        position: relative;
        height: var(--header_height);
    }

    .title {
        @include flex-between;
        padding: $header-padding;
        height: var(--header_height);

        &__logo {
            font-weight: 300;
            font-size: 3.2rem;
            text-transform: uppercase;
            color: #443017;
        }

        &__trigger {
            font-size: 0px;
            text-indent: -1111;
            width: 3.4rem;
            height: 1.2rem;
            border-top: 1px solid;
            border-bottom: 1px solid;
            display: block;
            position: relative;
        }
    }

    .menu {
        opacity: 0;
        height: calc(100svh - var(--header_height));
        overflow-y: auto;
        background-color: var(--background2);
        visibility: hidden;
        pointer-events: none;
        transition: opacity 0.4s ease, visibility 0.4s ease;

        ul {
            display: flex;
            flex-direction: column;

            li {
                button {
                    text-align: left;
                    width: 100%;
                    padding: 2rem;
                    font-size: 1.8rem;
                    border-bottom: 1px solid var(--foreground);
                }
            }
        }

        .menu_footer {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            padding: 2rem 2rem 2rem 1rem;

            p {
                font-size: 1.3rem;
                line-height: 1.5;
                font-style: italic;
                color: #b8a99a;

                span {
                    font-family: "Hanken Grotesk";
                    font-size: 1.1rem;
                    text-transform: uppercase;
                    letter-spacing: 0.7px;
                    font-style: normal;
                    color: #443017;
                    opacity: 1;
                }
            }
        }
    }
}

.header__open {
    background-color: var(--background2);

    .title {
        &__trigger {
            position: relative;
            font-size: 0px;
            width: 3.2rem;
            height: 3.2rem;
            border: none;
            position: relative;

            &::before {
                content: "";
                width: 3.2rem;
                height: 1px;
                border-bottom: 1px solid;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
                position: absolute;
                top: 1.5rem;
                left: 0;
            }
            &::after {
                content: "";
                width: 3.2rem;
                height: 1px;
                border-bottom: 1px solid;
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
                position: absolute;
                top: 1.5rem;
                left: 0;
            }
        }
    }

    .menu {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
}
