.people {
    background-color: #f9f7eb;

    &__person {
        display: flex;

        > div {
            flex: 1 1 50%;
        }

        &_img {
            position: relative;
            aspect-ratio: 2 / 3;

            img {
                object-fit: cover;
            }
        }

        &_desc {
            font-family: "Pretendard";
            display: flex;
            justify-content: center;
            flex-direction: column;

            .people__person_inner {
                width: fit-content;
                margin: 0 auto;
            }

            &_name {
                line-height: 1.4;

                span {
                    font-size: 2.2rem;
                }

                svg {
                    width: 1.3rem;
                }
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 2rem 0;

                li {
                    position: relative;
                    font-size: 1.4rem;

                    &::before {
                        content: "# ";
                    }
                }
            }
        }

        &.reverse {
            flex-direction: row-reverse;

            .people__person_desc {
                text-align: right;
            }
        }
    }

    .contact {
        text-align: center;

        button {
            background: #a77132;
            color: inherit;
            border: none;
            width: 20rem;
            height: 5rem;
            line-height: 5rem;
            font-weight: 500;
            text-align: center;
            color: var(--background);
            margin: 4rem auto;
        }
    }
}
