.map {
  padding: 5rem 1.5rem;
  background-color: #ede8d6;
  text-align: center;

  h3 {
    font-size: 3rem;
  }

  h4 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 2;
    display: block;

    span {
      display: block;
      font-size: 1.6rem;
      font-weight: 400;
    }
  }

  .info {
    margin: 3rem auto;
    font-family: "Hanken Grotesk", "Pretendard", sans-serif;

    svg {
      width: 1.6rem;
      margin-right: 0.5rem;
      color: var(--foreground);
    }

    p {
      margin-top: 2rem;
    }

    .actions {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      a,
      button {
        font-size: 1.4rem;
        margin-top: 1rem;
        background-color: transparent;
        border: none;
        color: inherit;
        padding: 0;
        margin: 0;
      }

      .copyBtn__popup {
        position: fixed;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        background-color: #333;
        color: #fff;
        padding: 0.75rem 1.25rem;
        border-radius: 0.5rem;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
        z-index: 1000;
      }
    }
  }
  .map-info {
    .map__infowindow {
      padding: 0.5rem 0 0.3rem;
      min-width: 100px;
      font-size: 1.4rem;
      font-weight: 500;
    }
    .naverDynamicMap {
      width: 100%;
      height: 20rem;
    }

    .navigators {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 2rem;

      > button {
        flex: 1 1 auto;
      }
    }
  }

  .transportation {
    margin-top: 3rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    dl {
      font-family: "Pretendard";
      dt {
        font-weight: 500;
        margin-bottom: 0.5rem;

        svg {
          width: 1.3rem;
          margin-right: 1rem;
          transform: translateY(1px);
        }
      }
    }
  }
}
