.map {
    padding: 5rem 1.5rem;
    background-color: #ede8d6;
    text-align: center;

    h3 {
        font-size: 3rem;
    }

    h4 {
        font-size: 2rem;
        font-weight: 500;
        line-height: 2;
        display: block;

        span {
            display: block;
            font-size: 1.6rem;
            font-weight: 400;
        }
    }

    .info {
        margin: 3rem auto;
        font-family: "Hanken Grotesk", "Pretendard", sans-serif;

        svg {
            width: 1.6rem;
            margin-right: 0.5rem;
            color: var(--foreground);
        }

        p {
            margin-top: 2rem;
        }

        a {
            font-size: 1.4rem;
            margin-top: 1rem;
        }
    }

    .map-info {
        .navigators {
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 2rem;

            button {
                position: relative;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.6rem;
                padding: 1rem 1.5rem;
                border-radius: 4px;
                font-weight: 500;
                color: var(--foreground);
                background-color: #d7d2b4;
                height: 3rem;
                min-width: 10rem;
            }
        }
    }
}
